.appWrapper {
  text-align: center;
  background-image: linear-gradient(
      45deg,
      rgba(100, 100, 100, 0.3),
      rgba(100, 100, 100, 0.4)
    ),
    url("../public/assets/background1.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
